@import "bootstrap/scss/bootstrap";
@import "./mixin.scss";
@import "./home.scss";
@import "./course.scss";
@import "./post.scss";
@import "./about-us.scss";
@import "./leadership.scss";

html:root {
  --app-header-height: 96px;
  --gray-0: 255 255 255;
  --gray-50: 250 250 250;
  --gray-100: 241 241 241;
  --gray-200: 227 227 227;
  --gray-300: 223 223 223;
  --gray-400: 146 146 146;
  --gray-500: 102 102 102;
  --gray-600: 72 72 72;
  --gray-700: 51 51 51;
  --gray-800: 34 34 34;
  --gray-900: 17 17 17;
  --gray-1000: 0 0 0;
  --app-color-primary: #fcaf17;
  --app-color-footer: #37c4e5;
  --spacing-section-desktop: 0px;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
  @include responsive(desktop) {
    height: var(--app-header-height);
    .icon-show-menu {
      display: none;
    }
  }
  @include responsive(phone) {
    padding: 8px 16px;
  }
  border-bottom: 1px solid #d4d4d4;
  .icon-show-menu {
    padding: 8px;
    border-radius: 4px;
    z-index: 88;
    background: #f4f4f4;
  }
  &__item {
    width: auto;
    .btn {
      --bs-btn-padding-y: 0.575rem;
      --bs-btn-padding-x: 1.575rem;
    }
    @include responsive(phone) {
      width: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      position: absolute;
      width: 100%;
    }
  }
  .logo {
    width: 232px;
    height: 80px;
    @include responsive(phone) {
      width: 116px;
      height: 40px;
    }
  }

  .icon-arrow {
    display: none;
  }

  .header__item__menu {
    display: none;
  }

  @include responsive(phone) {
    .header__item__menu {
      position: fixed;
      left: 0;
      top: 0;
      z-index: 99;
      height: 100vh;
      overflow: hidden;
      .header__menu {
        background: #fff;
        padding: 25px 0px;
      }
      .header__heading {
        display: flex !important;
        margin-bottom: 20px;
        align-items: center;
        justify-content: space-between;
        padding: 0px !important;
      }
      .header__menu__lists {
        flex-wrap: wrap !important;
      }
      li {
        width: 100%;
        text-align: left;
        position: relative;
        padding-right: 20px;
        margin-top: 8px;
        margin-bottom: 8px;
        .icon-arrow {
          display: block;
          position: absolute;
          right: 0;
          top: 25%;
          translate: translate(-50%, 0);
        }
      }
    }
  }

  img {
    width: 100%;
  }

  &__menu__lists {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: #404040;
    font-size: 16px;
    font-weight: 500;

    li {
      border-radius: 8px;
      user-select: none;
      margin: 0px 13px;
      cursor: pointer;
      &.active,
      &:hover {
        background: #fffbf1;
        color: var(--app-color-primary);
      }
    }
    li a {
      border-radius: 8px;
      padding: 8px 20px;
      line-height: 24px;
      color: inherit;
      display: block;
    }
  }
}

@include responsive(phone) {
  .flex-direction-column-reverse-mobile {
    flex-direction: column-reverse;
  }
}

.section {
  margin-top: var(--spacing-section-desktop);
  &--spacing {
    padding: 80px 0px;
    @include responsive(phone) {
      padding: 24px 0px;
    }
  }
  &__title {
    font-size: 40px;
    font-weight: 600;
  }
  &__sub-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    color: #7f7f7f;
  }
  &__text-small {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }
}

.banner-home {
  width: 100%;
  max-height: 592px;
  height: 592px;
  background-position: center;
  background: linear-gradient(0deg, rgba(252, 175, 23, 0.2) 0%, rgba(252, 175, 23, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("/public/assets/images/f8643198f03a41d8bfd1434811fa8894.jpg") lightgray 50% / cover no-repeat;
  @include responsive(phone) {
    padding: 0px 26px;
    max-height: 630px;
    height: 630px;
  }
  &__title {
    background: rgb(var(--gray-0));
    font-size: 48px;
    font-weight: 600;
    line-height: 150%;
    padding: 14px 20px;
    border-radius: 11px;
    gap: 10px;
    span {
      color: var(--app-color-primary);
    }
    @include responsive(phone) {
      font-size: 16px;
    }
  }
  &__icon {
    background: #fdffeb;
    width: 62px;
    height: 62px;
    display: block;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__arrow {
    top: -50px;
    left: -26px;
    @include responsive(phone) {
      top: -35px;
      left: -20px;
    }
  }
  &__primary-text {
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; /* 57px */
    margin-top: 20px;
    color: #fff;
    @include responsive(phone) {
      font-size: 24px;
      text-align: center;
    }
  }

  &__description-text {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 57px */
    margin-top: 10px;
    color: #fff;
    @include responsive(phone) {
      text-align: center;
    }
  }
}

#section-contact-form {
  background: #f4f4f4;
  .card {
    border: none;
    padding: 24px;
    background: #fff;
    border-radius: 16px;
  }
}

#section-service {
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 50px 30px;
    border-radius: var(--Spacing-3, 12px);

    border: 1px solid var(--Border-Border-default, #d4d4d4);

    background: var(--Background-Background-gray, #fafafa);
    /* Card shadow */
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
  }
  .card__header {
    background: #ffedcc;
    border-radius: 8px;
    padding: 12px 22px;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
  }
  .card__body {
    background: #fff;
    border-radius: 12px;
    padding: 40px;
    flex: 1;
    display: flex;
    flex-direction: column;
  }
}

.flex-1 {
  flex: 1;
}

.footer {
  background: var(--app-color-footer);
  padding: 100px 0px;
  @include responsive(phone) {
    padding: 24px 16px;
    .row > .col-md-6,
    .row > .col-md-2 {
      margin-bottom: 50px;
    }
  }
}
h1,
h2,
h3 {
  margin: 0;
}

.btn-primary {
  background: var(--app-color-primary);
  border-color: var(--app-color-primary);
  color: rgb(var(--gray-0));
  &:hover {
    background: #a3710f;
    border-color: var(--app-color-primary);
  }
}

.btn-secondary {
  background: #f4f4f4;
  border-color: #f4f4f4;
  color: #404040;
  // padding: 12px 24px;
}

.co-primary {
  color: var(--app-color-primary);
}

.btn-white {
  background: #fff;
  color: #000;
  &:hover {
    background: var(--app-color-primary);
    color: #fff;
  }
}

.btn-back {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  &:hover {
    border-color: #000;
  }
}

.btn-xxl {
  padding: 12px 24px;
  font-size: 20px;
}

.mt-60px {
  margin-top: 60px;
}

.mb-60px {
  margin-bottom: 60px;
}

.mb-40px {
  margin-bottom: 40px;
}

.mt-40px {
  margin-top: 40px;
}

.mt-20px {
  margin-top: 20px;
}

.mb-24px {
  margin-bottom: 24px;
}

.mt-24px {
  margin-top: 24px;
}

.border-radius-8px {
  border-radius: 8px;
}

.border-radius-12px {
  border-radius: 12px;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-justify {
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
  }
}

.fw-600 {
  font-weight: 600;
}

.fw-400 {
  font-weight: 400;
}

.fw-700 {
  font-weight: 700;
}

@media (min-width: 1600px) {
  .container-xxl,
  .container-xl,
  .container-lg,
  .container-md,
  .container-sm,
  .container {
    max-width: 1520px;
  }
}

.hidden-in-mobile {
  @include responsive(phone) {
    display: none;
  }
}

.px-0-mobile {
  @include responsive(phone) {
    padding-inline: 0px !important;
  }
}

@include responsive(phone) {
  .mt-0-mobile {
    margin-top: 0 !important;
  }
  .px-2-mobile {
    padding-inline: 1rem;
  }
  .px-1-mobile {
    padding-inline: 0.75rem !important;
  }
  .mb-24px-mobile {
    margin-bottom: 24px;
  }
  .gap-30-mobile {
    gap: 30px;
  }
}
.white-space-nowrap {
  white-space: nowrap;
}
