#secion-course {
  .widget {
    border-radius: 16px;
    background: #fafafa;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.08);
    padding: 16px;
  }
}

.course-discount-box {
  border-radius: 8px;
  background: linear-gradient(90deg, #ce1e22 19.22%, #f33337 100%);
  padding: 16px;
  color: #fff;
}

.course-widget-info {
  color: #7f7f7f;
}

.course-widget__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 20px;
  color: #000;
}
