.section-list-leadership {
  .container {
    max-width: 1120px;
  }

  .col-4 {
    margin-bottom: 30px;
  }
}

.custom-container-md {
  .container {
    max-width: 1120px;
  }
}

#section-see-more {
  .card__image {
    height: 380px;
    overflow: hidden;
    @include responsive(phone) {
      height: 220px;
    }
  }
  strong {
    color: #222 !important;
  }
}

#section-founder-detail {
  .card__image {
    height: 500px !important;
  }
}
