@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 600px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 600px) {
      @content;
    }
  }
}

$ranges: 0, 50, 100, 200, 300, 400, 500, 600, 700, 800, 900, 1000;

@each $range in $ranges {
  .bg-gray-#{$range} {
    --tw-bg-opacity: 1;
    background-color: rgb(var(--gray-#{$range}) / var(--tw-bg-opacity));
  }

  .text-gray-#{$range} {
    --tw-bg-opacity: 1;
    color: rgb(var(--gray-#{$range}) / var(--tw-bg-opacity));
  }

  .border-gray-#{$range} {
    --tw-bg-opacity: 1;
    border: 1px solid rgb(var(--gray-#{$range}) / var(--tw-bg-opacity));
  }
}

@for $fontSize from 10 through 80 {
  .fs-#{$fontSize} {
    font-size: #{$fontSize}px;
  }
  .fs-#{$fontSize}-mobile {
    @include responsive(phone) {
      font-size: #{$fontSize}px !important;
    }
  }
}

$lines: 1, 2, 3, 4, 5;

@each $line in $lines {
  .text-#{$line}-line {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: #{$line}; /* number of lines to show */
    line-clamp: #{$line};
    -webkit-box-orient: vertical;
  }
}
